/*---------------------------------------------------------------

  Project Name: Double - Responsive Onepage HTML Template
  File Name: style.css
  Author: Peng Lam
  Author URI: http://khaitawng.com
  Version: 1.0.0

------------------------------------------------------------------*/
/*----------------------------------------------------------------

// Table of contents //

  - Body
  - Typography
  - Buttons
  - General
  - Preloader
  - Navigation section
  - Home section
  - Counter section
  - About section
  - Service section
  - Work section
  - Contact section
  - Address section
  - Footer section
  - Mobile Responsive styles

------------------------------------------------------------------*/

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');


body {
    background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
}


/*---------------------------------------
   Typorgraphy
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 300;
  letter-spacing: -1px;
}

h1,h2,h4 {
  font-weight: bold;
}

h1 {
  font-size: 65px;
  letter-spacing: -1px;
}

h2 {
  color: #272727;
  font-size: 32px;
  line-height: 52px;
  text-transform: uppercase;
  margin: 0px;
}

h3 {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

h4 {
  color: #454545;
  font-size: 18px;
  line-height: 26px;
}

h5 {
  letter-spacing: 0.5px;
}

p {
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.2px;
}



/*---------------------------------------
   Buttons
-----------------------------------------*/

.btn-success:focus {
  background-color: #000;
  color: #ffffff;
}

.section-btn {
  background: #313238;
  border: 3px solid transparent;
  border-radius: 100px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding: 16px 28px;
  margin-top: 22px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  text-transform: uppercase;
  margin-right: 14px;
}

.section-btn:focus,
.section-btn:hover {
  background: #ffffff;
  border-color: transparent;
  color: #f06966;
  font-weight: bold;
}



/*---------------------------------------
   General
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #f06966;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #f06966;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title {
  margin: 0;
  padding-bottom: 62px;
}

#work,
#counter,
#about,
#service,
#contact,
#address {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

#counter,
#service,
#contact,
#address {
  text-align: center;
}



/*---------------------------------------
     Preloader section
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wordpress.sk-spinner {
  border-radius: 100px;
  width: 38px;
  height: 38px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite;
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #0d1b06;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px;
}

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }



/*---------------------------------------
     Navigation section
-----------------------------------------*/
.contact-fixed {
  position: fixed;
  z-index:1;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.contact-fixed img {
  margin-bottom: 10px;
}

.flag {
  margin: 0px 20px 0px 20px;
}

.custom-navbar {
    border: none;
    margin-bottom: 0;
    background-color: #313238;
    padding: 6px 0;
}

.custom-navbar .navbar-brand {
    color: #f0f0f0;
    font-weight: bold;
    font-size: 3rem;
    line-height: 35px;
}

.custom-navbar .nav li a {
    font-size: 12px;
    font-weight: bold;
    color: #dddddd;
    line-height: 40px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding-right: 22px;
    padding-left: 22px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    margin-top: -50px;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #ffffff;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #ffffff;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #f06966;
    border-color: transparent;
}

.itsg-logo {
  max-width: 50%;
  max-height: auto;
  margin-top: 15px;
  margin-left: 15px;
}

@media(min-width:768px) {
    .custom-navbar {
        border-bottom: 0;
        background: 0 0;
    }
    .custom-navbar.top-nav-collapse {
        background: #313238;
        padding: 6px 0;
    }

}



/*---------------------------------------
    Home section
-----------------------------------------*/

#home {
    background: url('../images/home-bg.jpeg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
     color: #ffffff;
    height: 100vh;
    position: relative;
    text-align: center;
}

#home h3 {color: #f0f0f0;}

#home .overlay {
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/*---------------------------------------
   Counter section
-----------------------------------------*/

#counter {
  background: #f9f9f9;
  border-bottom: 1px solid #f0f0f0;
}

#counter .counter-number {
  display: block;
  color: #272727;
  font-size: 32px;
  line-height: 52px;
}

#counter span {
  color: #f06966;
  font-weight: bold;
}



/*---------------------------------------
    About section
-----------------------------------------*/

#about {
  padding-top: 80px;
  padding-bottom: 80px;
}

#about .about-desc {
  padding-top: 22px;
}

#about .about-desc h4 {
  margin-top: 0px;
  padding-bottom: 8px;
}

#about .about-desc a {
  color: #565656;
}

#about .about-desc a:hover {
  color: #f06966;
}

#about .team-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
}

#about .team-wrapper h2 {
  color: #353535;
  font-size: 26px;
  line-height: 32px;
}

#about .team-wrapper strong {
  color: #f06966;
  font-weight: 600;
}

#about .team-wrapper img {
  border-radius: 2px;
  width: 100%;
}

#about .team-wrapper .team-desc {
  background: rgba(250,250,250,0.5);
  position: absolute;
  cursor: crosshair;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 20em 4em 0 0;
  transition: all 0.4s ease-in-out;
  text-align: right;
}

#about .team-wrapper:hover .team-desc {
  opacity: 1;
  transform: scale(1.1);
}

.partners {
  display: inline;
  max-width: 120px;
  max-height: auto;
  margin-left: 60px;
  margin-bottom: 20px;
}


/*---------------------------------------
   Service section
-----------------------------------------*/

.apteki1 {
  max-width: 700px;
  max-height: auto;
  margin-bottom: 50px;
}

.apteki2 {
  max-height: 350px;
  max-width: auto;
}


/*---------------------------------------
    Work section
-----------------------------------------*/

#work {
  background: #f9f9f9;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

#work .work-thumb {
  border-radius: 2px;
  margin-bottom: 26px;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#work .work-thumb:hover {
  background: #ffffff;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

#work .work-thumb img {
  border-radius: 2px;
  width: 100%;
  cursor: crosshair;
}


/*---------------------------------------
    Address section
-----------------------------------------*/

#address {
  background: #f9f9f9;
  border-top: 1px solid #f0f0f0;
}

#address .fa {
  font-size: 42px;
}



/*---------------------------------------
   Footer section
-----------------------------------------*/

footer {
    background: #f06966;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

footer .footer-copyright p {
  color: #f9f9f9;
}



/*---------------------------------------
   Mobile Responsive styles
-----------------------------------------*/

@media (max-width: 980px) {

 h1 {font-size: 52px;}

 #service .service-thumb-first,
 #service .service-thumb-second {
  margin-bottom: 32px;
 }

 .itsg-logo {
    max-height: 30px;
    max-width: auto;
    margin-top: 30px;
  }

}



@media (max-width: 768px) {

  h1 {font-size: 48px;}

  #counter .counter-item {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .itsg-logo {
    max-height: 30px;
    max-width: auto;
    margin-top: 30px;
  }

  .partners {
    display: block;
    margin: 0 auto;
  }

}



@media (max-width: 767px) {

  .custom-navbar .navbar-brand {
    line-height: 15px;
  }

  #about .about-desc {
    margin-bottom: 32px;
  }

  #address .address-phone {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .itsg-logo {
    max-height: 30px;
    max-width: auto;
    margin-top: 30px;
  }

  .partners {
    display: block;
    margin: 0 auto;
  }

}



@media (max-width: 580px) {

  h1 {font-size: 29px}

  h2 {
    font-size: 24px;
    line-height: 42px;
  }

  h3 {
    font-size: 12px;
    letter-spacing: 2px;
  }

  #service .service-thumb {
    padding: 0px;
  }

  .itsg-logo {
    max-height: 30px;
    max-width: auto;
    margin-top: 30px;
  }

  .partners {
    display: block;
    margin: 0 auto;
  }

}



@media (max-width: 350px) {

  #about .team-wrapper .team-desc {
    padding-top: 14em;
  }

  .itsg-logo {
    max-height: 30px;
    max-width: auto;
    margin-top: 30px;
  }

  .partners {
    display: block;
    margin: 0 auto;
  }

}

